<div id="map" ng-init="getData()">
    
	<leaflet center="center" markers="markers" defaults="defaults" controls="controls" id="map">
	</leaflet>
    
    <!-- ng-show="userType == 'Admin' && isEmpty(selectedMarker)" -->
   <div class="report-card">
          <div class="card" style ="relative">
            <div class="card-image title-info">
              <img class="materialboxed responsive-img" src="{{selectedMarker.image}}">
              <span class="card-title">
                  <span class="middle-tile"> 
                      <h1><span style =" font-family: ‘Metrophobic’, Arial, serif; font-weight: 700;" >Status:</span> {{selectedMarker.status}}</h1> 
                  </span >  
                </span>
            </div>
             <div class="card-content" style="background-color:#F2FCFF; overflow:auto;">
                 <div class ="tile-coord">
                     <div class = "tile-coord-info">
                         <p class="tile-header">Coordinates</p>
                         <p class="coord">{{selectedMarker.lat | number: 3}} / {{selectedMarker.lng | number: 3}}</p>
                     </div>
                     <div class="tile-coord-icon">
                         <i class="fa fa-globe fa-3x"></i>
                     </div>
                 </div>
                 <div class ="tile-abunc-prec">
                     <div class = "tile-abundance">
                         <p class="tile-header">Abundance</p>
                          <p class="tile-info">{{selectedMarker.abundance}}</p>
                     </div>
                     
                     <div class = "tile-precision">
                          <p class="tile-header">Precision</p>
                          <p class="tile-info">{{selectedMarker.precision}}</p>
                     </div>
                 </div>
                 <div class ="tile-comment">
                         <p class="tile-header">Comment</p>
                          <p class="tile-info" >{{selectedMarker.comment}}</p>
                 </div>
                 <md-button class="md-fab md-mini md-primary" aria-label="Use Android">
                     <i class="fa fa-globe"></i>
        </md-button>
              <!--  <div class="row">
                        <div class="col s6"><p class="report-title"> Coordinates:</p></div>
                         <div class="col s6"><p class="pull-quote">{{selectedMarker.lat | number: 3}} / {{selectedMarker.lng | number: 3}}</p></div>
                    </div>
                   <div class="row">
                        <div class="col s12"><p class="report-title"> LSID:</p></div>
                         <div class="col s12"><p class="pull-quote">{{selectedMarker.lsid}}</p></div>
                    </div>
                  <div class="row">
                        <div class="col s4"><p class="report-title">  Abundance:</p></div>
                         <div class="col s4"><p class="pull-quote">{{selectedMarker.abundance}}</p></div>
                      <div class="col s4"></div>
                    </div>
                   <div class="row">
                        <div class="col s4"><p class="pull-quote"> Precision:</p></div>
                         <div class="col s4"><p class="pull-quote">{{selectedMarker.precision}}</p></div>
                      <div class="col s4"></div>
                    </div>
                 
                 <h4>Comment: </h4>
                 <p class="pull-quote">{{selectedMarker.comment}}</p>  
                 
                <md-button class="md-fab md-primary md-hue-2" aria-label="Profile">
                          <i class="fa fa-pencil"></i>
                 </md-button>
                 
            </div>
             <div class="card-action">
              <a href="#">This is a link</a>
                 <a href="#">This is a link</a>
            </div>  -->
      </div> 
</div>