<div id="map" ng-init="getData()">
    
	<leaflet center="center" markers="markers" defaults="defaults" controls="controls" id="map">
	</leaflet>
    
   <div class="report-card" ng-show ="isEmpty(selectedMarker)" click-outside="hideCard()">
          <div class="card" style ="relative">
            <div class="card-image title-info">
              <img class="materialboxed responsive-img" src="{{selectedMarker.image}}">
                <!-- Status -->
              <span class="card-title">
                  <a ng-click = "observedBy()">
                     <i class="fa fa-user fa-lg" style = "color:white;"></i>
                   </a>
                  <span class="middle-tile"> 
                      <h1><span style =" font-family: ‘Metrophobic’, Arial, serif; font-weight: 700;" >Status:</span> {{selectedMarker.status}}</h1> 
                  </span >  
                </span>
            </div>
             <div class="card-content" style="background-color:#F2FCFF; overflow:auto;">
                 <div class ="tile-coord">
                     <div class = "tile-coord-info">
                         <p class="tile-header">Coordinates</p>
                         <p class="coord">{{selectedMarker.lat | number: 3}} / {{selectedMarker.lng | number: 3}}</p>
                     </div>
                     <div class="tile-coord-icon">
                         <i class="fa fa-globe fa-3x"></i>
                     </div>
                 </div>
                 <div class ="tile-abunc-prec">
                     <div class = "tile-abundance">
                         <p class="tile-header">Abundance</p>
                          <p class="tile-info">{{selectedMarker.abundance}}</p>
                     </div>
                     
                     <div class = "tile-precision">
                          <p class="tile-header">Precision</p>
                          <p class="tile-info">{{selectedMarker.precision}}</p>
                     </div>
                 </div>
                 <hr>
                 <div class ="tile-comment">
                         <p class="tile-header">Comment</p>
                          <p class="tile-info" >{{selectedMarker.comment}}</p>
                 </div>
                 <hr>
                 
                 <div class ="tile-lsid" ng-hide="userType == 'Admin'">
                     <p class="tile-header">LSID</p>
                          <p class="tile-info" >{{selectedMarker.lsid}}</p>
                 </div>
                
                 <!-- Part which is visible only for admins -->
                 <div class = "admin-visible" >
                     <div class="admin-iccid" ng-show="userType == 'Admin'">
                         <div class ="tile-iccid">
                             <p class="tile-header">ICCID</p>
                             <p class="tile-info" >{{selectedMarker.iccid}}</p>
                         </div>
                         <div class="admin-edit-button">
                            <md-button class="md-fab md-mini md-primary" style = "background-color:#4CAF50;" ng-click="startEdit()" aria-label="Use Android">
                            <i class="fa fa-pencil"></i>
                           </md-button>
                         </div>
                     </div>
                     <div class="admin-oathid">
                         <div class ="tile-oauthid">
                             <p class="tile-header">Observed by (OAUTH-ID): </p>
                             <p class="tile-info">{{selectedMarker.oauth}}</p>
                         </div>
                         <div class="admin-delete-button" ng-show="userType == 'Admin'">
                             <md-button class="md-fab md-mini md-primary" style = "background-color:#F44336;" ng-click="deleteReport()" aria-label="Use Android">
                               <i class="fa fa-trash-o"></i>
                           </md-button>
                         </div>
                     </div>
                 </div>     
      </div> 
</div>