<md-dialog>
  <form>
  <md-dialog-content style = "background-color:#4CAF50;">
        <div class="md-center">
         <!-- <i class="material-icons md-48 md-light">account_circle</i> -->
             <ng-md-icon icon = "person" style = "fill:white;" size = "105"></ng-md-icon>
            <ng-md-icon icon = "trending_neutral" style = "fill:white;" size = "85"></ng-md-icon>
            <ng-md-icon icon = "filter_vintage" style = "fill:white;" size = "95"></ng-md-icon>
    </div>
        <div class="remove-header">
          <h2>Observed by: <b>Anonymous</b></h2>
        </div>
  </md-dialog-content>
  </form>
</md-dialog>